html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card {
    border: none;
    overflow: hidden;
    position: relative;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.small-images {
    display: none;
    position: absolute;
    bottom: 110px
}

.small-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.card:hover .small-images {
    display: block;
}

.card-title, .card-text, {
    transition: opacity 0.3s ease;
}

.card:hover .card-title, .card:hover .card-text {
    opacity: 0;
}

.price {
    font-weight: bold;
    color: #333;
}

.discount {
    color: #007D48
}

.price {
    font-weight: bold;
    color: #333;
}

.promo {
    color: red;
    font-weight: bold;
}

/*#leftsidebar {
    position: absolute;
    left: 30px;
    top: 95px;
}*/


a {
    color: inherit; /* Sử dụng màu văn bản của phần tử cha */
    text-decoration: none; /* Loại bỏ gạch chân nếu muốn */
}

.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 645px;
    overflow: scroll;
    -ms-overflow-style: none;
}

    .product-images::-webkit-scrollbar {
        display: none;
    }

    .product-images img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }

.main-image {
    max-width: 100%;
}



.discount {
    color: red;
}

.size-options button {
    margin: 5px;
}

.product-details {
    padding-left: 2rem;
}



.cost {
    text-decoration: line-through;
    margin-right: 10px;
}

.discounted-price {
    font-weight: bold;
}

.summary {
    margin-top: 20px;
}

.btn-remove {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.product-img {
    width: 318px;
    height: 318px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .product-img {
        width: 159px;
        height: 159px;
    }
}