
<partial name="_Notifications" />
<div class="container">
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Shoe List</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Shoe" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                Create New Shoe
            </a>
        </div>

    </div>
    <table id="tbldata" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Shoe Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category Name
                </th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts {
    <script src="~/js/$RGOFXYK.js"></script>
}
